[Desktop Entry]
Comment=A screen ruler and color measurement tool
Comment[ca]=Una eina de regla de pantalla i mesura de colors
Comment[cs]=Obrazovkové pravítko a nástroj na měření barev
Comment[da]=En skærmlineal og et farvemålingsværktøj
Comment[de]=Bildschirmlineal und Farbmessgerät
Comment[eo]=Ekrana liniilo kaj kolormezurilo
Comment[es]=Una regla para la pantalla y una herramienta de medición del color
Comment[et]=Vahend kauguste ja värvide mõõtmiseks ekraanil
Comment[fi]=Ruudun ja värien mittaustyökalu
Comment[he]=םיעבצ תדידמ ילכו ךסמ לגרס
Comment[hu]=Munkaasztali vonalzó és színmérő
Comment[is]=kruler:  Reglustika og litmælir fyrir skjáborðið
Comment[ja]=スクリーンルーラ及び色測定ツール
Comment[nl]=een schermliniaal en gereedschap om kleuren te meten
Comment[no_NY]=Linjal og fargemålar
Comment[pt_BR]=Uma régua de tela e ferramenta de medição de cores
Comment[ro]=O riglă pentru ecran şi pentru măsurarea culorilor
Comment[ru]=Утилита для управления цветами экрана и измерения их характеристик
Comment[sk]=Pravítko obrazovky a nástroj pre meranie farieb
Comment[sv]=En skärmlinjal och färgmätare
Comment[uk]=Лінійка екрана та засіб вимірювання кольору
Comment[zh_CN.GB2312]=屏幕标尺和颜色测量工具
Comment[zh_TW.Big5]=一個螢幕量尺及顏色測量工具
BinaryPattern=
Name=KDE Screen Ruler
DocPath=kruler/index.html
Name[cs]=Pravítko
Name[da]=KDE Skærmlineal
Name[de]=KDE-Bildschirmlineal
Name[eo]=Ekranliniilo
Name[es]=Regla para Pantalla de KDE
Name[et]=KDE ekraani joonlaud
Name[fi]=Ruudunmittaaja
Name[he]=KDE לש ךסמה לגרס
Name[hu]=KDE vonalzó
Name[is]=Reglustika
Name[ja]=KDE スクリーンルーラ
Name[nl]=KDE Schermliniaal
Name[no_NY]=KDE Skjermlinjal
Name[pt_BR]=Régua de tela KDE
Name[ro]=Riglă ecran
Name[sk]=KDE pravítko obrazovky
Name[sv]=KDE Skärmlinjal
Name[uk]=Лінійка екрана KDE
Name[zh_CN.GB2312]=KDE 屏幕标尺
Name[zh_TW.Big5]=KDE 螢幕量尺
MimeType=
Exec=kruler %i %m
TerminalOptions=
Type=Application
Path=
Icon=kruler
Terminal=0
MapNotify=true
