[Desktop Entry]
Encoding=UTF-8
GenericName=Screen Ruler
GenericName[af]=Skerm Liniaal
GenericName[bg]=Линийка за екрана
GenericName[ca]=Regla de pantalla
GenericName[cs]=Obrazovkové pravítko
GenericName[cy]=Mesurydd Sgrîn
GenericName[da]=Skærmlineal
GenericName[de]=Bildschirmlineal
GenericName[el]=Χάρακας οθόνης
GenericName[eo]=Ekranliniilo
GenericName[es]=Regla para la pantalla
GenericName[et]=Ekraani joonlaud
GenericName[eu]=Pantaila erregela
GenericName[fa]=خط‌کش پرده
GenericName[fi]=Näytön mittaaja
GenericName[fr]=Règle d'écran
GenericName[gl]=Regra de pantalla
GenericName[he]=סרגל מסך
GenericName[hr]=Ravnalo
GenericName[hu]=Képernyővonalzó
GenericName[is]=Reglustika
GenericName[it]=Righello per lo schermo
GenericName[ja]=スクリーン定規
GenericName[kk]=Экран өлшегіші
GenericName[km]=បន្ទាត់​អេក្រង់
GenericName[ko]=화면 자
GenericName[lt]=Ekrano liniuotė
GenericName[lv]=Ekrāna Mērjosla
GenericName[ms]=Pembaris Skrin
GenericName[nb]=Skjermlinjal
GenericName[nds]=Schirmlineaal
GenericName[ne]=पर्दा रूलर
GenericName[nl]=Schermliniaal
GenericName[nn]=Skjermlinjal
GenericName[pa]=ਸਕਰੀਨ ਰੀਡਰ
GenericName[pl]=Linijka ekranowa
GenericName[pt]=Régua do Ecrã
GenericName[pt_BR]=Régua da Tela
GenericName[ro]=Riglă de ecran
GenericName[ru]=Экранная линейка KDE
GenericName[se]=Šearpmalinjála
GenericName[sl]=Zaslonsko ravnilo
GenericName[sr]=Екрански лењир
GenericName[sr@latin]=Ekranski lenjir
GenericName[sv]=Skärmlinjal
GenericName[ta]=திரை உருளை
GenericName[tg]=Ҷадвали экрании KDE
GenericName[tr]=Ekran Cetveli
GenericName[uk]=Лінійка екрана
GenericName[uz]=Экран линейкаси
GenericName[x-test]=xxScreen Rulerxx
GenericName[zh_HK]=螢幕尺規
GenericName[zh_TW]=螢幕尺規
Name=KRuler
Name[af]=K-lineaal
Name[cy]=KMesurydd
Name[eo]=Liniilo
Name[hr]=Ravnalo
Name[is]=KReglustika
Name[lv]=KRulers
Name[ms]=KPembaris
Name[ne]=केडीई रूलर
Name[pa]=ਕੇ-ਰੂਲਰ
Name[pl]=Linijka
Name[pt_BR]=KRégua
Name[ro]=Riglă
Name[sv]=Kruler
Name[ta]=கேவரை உருளை
Name[x-test]=xxKRulerxx
Name[zh_TW]=KRuler 尺規
X-DocPath=kruler/index.html
MimeType=
Exec=kruler
Type=Application
Path=
Icon=kruler
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Graphics;X-KDE-More;
