[Desktop Entry]
GenericName=Screen Ruler
GenericName[af]=Skerm Liniaal
GenericName[ar]=مسطرة الشاشة
GenericName[bg]=Линийка за екрана
GenericName[ca]=Regla de pantalla
GenericName[cs]=Obrazovkové pravítko
GenericName[cy]=Mesurydd Sgrîn
GenericName[da]=Skærmlineal
GenericName[de]=Bildschirmlineal
GenericName[el]=Κανόνας οθόνης
GenericName[eo]=Ekrana liniilo
GenericName[es]=Regla para la pantalla
GenericName[et]=Ekraani joonlaud
GenericName[eu]=Pantailaren erregela
GenericName[fa]=خط‌کش پرده
GenericName[fi]=Näyttöviivain
GenericName[fr]=Règle d'écran
GenericName[ga]=Rialóir Scáileáin
GenericName[gl]=Regra de pantalla
GenericName[he]=סרגל מסך
GenericName[hi]=स्क्रीन मापनी
GenericName[hne]=स्क्रीन मापनी
GenericName[hr]=Ravnalo
GenericName[hu]=Képernyővonalzó
GenericName[is]=Reglustika
GenericName[it]=Righello per lo schermo
GenericName[ja]=スクリーンルーラー
GenericName[kk]=Экран өлшегіші
GenericName[km]=បន្ទាត់​អេក្រង់
GenericName[ko]=화면 자
GenericName[ku]=Rastekê Dîmenderê
GenericName[lt]=Ekrano liniuotė
GenericName[lv]=Ekrāna mērlenta
GenericName[ms]=Pembaris Skrin
GenericName[nb]=Skjermlinjal
GenericName[nds]=Schirmlineaal
GenericName[ne]=पर्दा रूलर
GenericName[nl]=Schermliniaal
GenericName[nn]=Skjermlinjal
GenericName[pa]=ਸਕਰੀਨ ਰੀਡਰ
GenericName[pl]=Linijka ekranowa
GenericName[pt]=Régua do Ecrã
GenericName[pt_BR]=Régua de tela
GenericName[ro]=Riglă de ecran
GenericName[ru]=Экранная линейка
GenericName[se]=Šearpmalinjála
GenericName[sk]=Pravítko obrazovky
GenericName[sl]=Zaslonsko ravnilo
GenericName[sr]=Екрански лењир
GenericName[sr@latin]=Ekranski lenjir
GenericName[sv]=Skärmlinjal
GenericName[ta]=திரை உருளை
GenericName[tg]=Ҷадвали экрании KDE
GenericName[th]=ไม้บรรทัดบนหน้าจอ
GenericName[tr]=Ekran Cetveli
GenericName[uk]=Лінійка екрана
GenericName[uz]=Ekran lineykasi
GenericName[uz@cyrillic]=Экран линейкаси
GenericName[vi]=Thước đo màn hình
GenericName[x-test]=xxScreen Rulerxx
GenericName[zh_CN]=屏幕标尺
GenericName[zh_HK]=螢幕尺規
GenericName[zh_TW]=螢幕尺規
Name=KRuler
Name[af]=K-lineaal
Name[ar]=كيرولِر
Name[cy]=KMesurydd
Name[hi]=के-रूलर
Name[hne]=के-रूलर
Name[hr]=Ravnalo
Name[is]=KReglustika
Name[ms]=KPembaris
Name[ne]=केडीई रूलर
Name[pa]=ਕੇ-ਰੂਲਰ
Name[pl]=Linijka
Name[ro]=Riglă
Name[sr]=К‑лењир
Name[sr@latin]=K‑lenjir
Name[sv]=Kruler
Name[ta]=கேவரை உருளை
Name[th]=ไม้บรรทัด K
Name[x-test]=xxKRulerxx
Name[zh_TW]=KRuler 尺規
X-DocPath=kruler/index.html
MimeType=
Exec=kruler
Type=Application
Icon=kruler
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Graphics;X-KDE-More;
